

@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');
body {
  /*affects the font of body*/
  color: #0f2a36;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  background: repeat fixed center;
  /*  background: #fff url(https://cdn.glitch.com/0a7178a1-99b8-4958-8e46-50955a57f845%2Frando.jpg?v=1614215674360) repeat fixed center; */
	background-color: #9c0000;
  background-size: auto 100%;
background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      #141d26 1rem,
      #141d26 6rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite; /* Avoid width reflow */
}

@keyframes barberpole {
  100% {
    background-position: 70% 70%;
  }
}
h1 {
  /*the header for the page*/
  font-family: 'Fascinate', cursive;
     -webkit-text-stroke: 2.5px #e3e2bf;
  color: #ffaf00;
  font-size: 91px;
  font-weight: 5px;
    margin: 0.3em;
    line-height: 0.0em;
  /*margin-top:-50px;*/
/*    position: relative;
    top:-50px;*/
}
h2 {
  font-family: 'Fascinate', cursive;
     -webkit-text-stroke: 2.5px #ffaf00;
  color: 	#9c0000;
  font-size: 91px;
  font-weight: 5px;
    margin: 0.3em;
    line-height: 0.0em;
}

h3 {
  /*title for bodies*/
  color: #c51f5d;
  font-family: 'Freckle Face', cursive;
       -webkit-text-stroke: 1.0px #ffaf00;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25em;
  margin: 0.5em 0;
}

header {
  /*header*/
  background-image: url("https://cdn.glitch.com/0a7178a1-99b8-4958-8e46-50955a57f845%2Fdrip.png?v=1615076414706");
  background-size: 1650px;
  width: 1242px;
  height: 390px;
  position: relative;
  left:-7.5px;
  text-align: center;
  top: -8px;
  padding: 10px;
}

header h1 {
  /*header characteristics and font*/
font-family: 'Fascinate', cursive;
   -webkit-text-stroke: 2.5px #e3e2bf;
  font-size:60px;
  color: #c51f5d;
  margin: 5px auto 0;
  padding: 50px;
}

#content2 {
  height:600px;
	background-color: #c51f5d;
  padding: 145px;
  padding-top:50px;
  padding-bottom:200px;
  margin-left: 100px;
  width: 700px;
  position: relative;
  top:-450px;
  border-radius: 25px;
  margin-bottom:-500px;
}

.box {
  font-family: 'Freckle Face', cursive;
  background-color: #ffaf00;
     -webkit-text-stroke: 1px #9c0000;
  width: 500px;
  padding: 5px 100px;
  margin: 45px 10px;
  border-radius: 25px;
  color: #243447;
    font-size: 30px;
    text-align: center;
   line-height: 50px;   /* within paragraph */
}

.box2 {
  font-family: 'Amatic SC', cursive;
  background-color: #e3e2bf;
  width: 500px;
  padding: 5px 100px;
  margin: 25px 10px;
  border-radius: 25px;
  color: #243447;
    font-size: 25px;
    text-align: center;
   line-height: 30px;   /* within paragraph */
}

.summary {
  /*the words after the header*/
 /* background-image: url("https://cdn.glitch.com/0a7178a1-99b8-4958-8e46-50955a57f845%2Fquote%20bubble.png?v=1615079336544");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 600px;               use this to decorate like with the stars                  */
  position: relative;
  top: -400px;
  left:-40px;
  max-width: 1040px;
  margin: 80px auto 0;
  width: 100%;
  z-index: 2;
}

.summary p {
  /*summery font settings*/
  font-family: 'Freckle Face', cursive;
  position: relative;
  -webkit-text-stroke: .5px   #c51f5d;
  top: 140px;
  left: -90px;
  clear: right;
  color: 	#141d26;
  float: right;
   text-align: center;
  font-size:20px;
  margin: 0;
   display:flex;
  background-color:#e3e2bf;
  opacity: 0.8;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:300px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.summary p:before,
.summary p:after {
  content:"";
  background-color:#e3e2bf;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}

.summary p:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #e3e2bf;
}
.summary p:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #e3e2bf,
             -28px -6px 0 -2px #e3e2bf,
             -24px 17px 0 -6px #e3e2bf,
             -5px 25px 0 -10px #e3e2bf;

}

.navbar {
  position: absolute;
  bottom: -200px;
  left:-10px;
  font-size: 16pt;
  overflow: hidden; /* Hide overflow */
  border-radius: 15px 15px 0px 0px;
  transform: rotate(90deg);
 margin-left: 1000px;
}

/* Style the navigation bar links */
.navbar a {
  font-family: 'Amatic SC', cursive;
  font-size:45px;
  float: left; /* Make sure that the links stay side-by-side */
  background-color: #243447; /* Grey background color */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: #c51f5d; /* White text color */
  text-align: center; /* Center the text */
  padding: 20px 20px 70px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  border-radius: 15px 15px 0px 0px;
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #e3e2bf; /* Grey background color */
  color: 	#243447; /* Black text color */
  border-radius: 15px 15px 0px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.myDiv {
  border: 5px outset #ff4da0;
  background-color: white;
  text-align: center;
}


a{
  color: #ff4da0;
}

/* The Modal (background) */

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #243447;
    font-family: 'Amatic SC', cursive;
  color: #e3e2bf;
  font-size: 25px;
  padding: 16px 32px;
}

#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.palm {
    animation: sway1 16s infinite;
    transform-origin: 50% 100% 0;
}
@keyframes sway1 {
    0%, 100%{ transform: rotate(-8deg);}
    50%{ transform: rotate(6deg); }
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
